*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --color-principal:hsl(244, 38%, 16%);
  --color-secundario:#FFF;
  --color-terciario:#6D5D6E;


  --Very-dark-blue:hsl(233, 47%, 7%);
  --Soft-violet:rgb(170, 92, 219);
}

/* generales */

html{
  height: 100%;

}

body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


/* modal */
.modal-background{
  background-color: hsla(0deg, 0%, 0%, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: none;
}

/*  primer header */

.promo-local{
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Soft-violet);
}

.promo-local__titulo{
  font-size: 0.8em;
  
}

.promo-local__sucursales{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 1em;
}

.promo-local__sucursales--titulo a{
  font-size: 0.7em;
  text-decoration: none;
  color: var(--Soft-violet);
}




.bxs-store-alt{
  margin-right: 0.5em;
}

@media (min-width:1024px) {
  .promo-local__titulo,.promo-local__sucursales{
    font-size: 1.2em;
    
  }

  .promo-local__sucursales{
    width: 20%;
  }

  
}

/* header */

header{
  display: flex;
  justify-content: space-between;
  background-color: var(--color-principal);
  color: white;
  align-items: center;
  height: 9vh;
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
}

.logo{
  width: 2.5em;
  margin-left: 1em;
}

.logo__img{
  width: 100%;
  color: var(--color-secundario);
}


/* navegacion */


.listaItems{
  display: flex;
}

.listaItems .item{
  list-style: none;
}

.listaItems a{
  text-decoration: none;
  margin: 0 2em;
  color: white;
  font-size: 1.3em;
}

.listaItems a:hover{
  color: var(--Soft-violet);
}

@media (max-width:1024px) {
  .navOcult{
    display: none;

  }

  .hamburger{
    padding-right: .5em;
    font-size: 2em;
  }

  .listaItems{
    flex-direction: column;
    gap: 2.5em;
    background-color: var(--color-principal);
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 25vh;
    align-items: center;
    
  }

  .item a{
    padding-right: 1em;
  }

  .x{
    position: relative;
    left: 2em;
    top: .5em;
    font-size: 1.3em;
    color:white;
  }
}

@media (min-width:1024px) {

  .logo{
    width: 4em;
  }

  .hamburger{
    display: none;
  }

  nav{
    width: 100%;
  }

  .listaItems{
    justify-content: center;
    height: 6vh;
    align-items: center;
  }

  .listaItems .item{
    height: 3em;
    display: flex;
    align-items: center;
  }

  .listaItems .item a{
    border-bottom: 2px solid transparent;
    transition: all 0.5s;
  }

  .listaItems a{
    margin: 0 3em;
  }


  .listaItems .x{
    display: none;
  }

  .lista-productos{
    display: none;
    flex-direction:column;
    position: absolute;
    background-color: var(--color-principal);
    top:4em;
    height: 10vh;
  }

  .lista-productos li{
    margin: 0.5em 0;
  }

  .listaItems .item:hover>.lista-productos{
    display: block;
  }

}

.description__btn:hover{
  color: var(--Soft-violet);
}

.description__price{
  font-size: 0.8em;
  color: var(--Soft-violet);
}

.precio{
  font-weight: 700;
}

@media (min-width:768px){
  .productos__grid{
    grid-template-columns: repeat(3,auto);
    justify-content: space-evenly;
    padding: 0 2em;
  }
}

@media (min-width:1024px) {
  
  .card{
    width: 20em;
    height: 35em;
  }

  .card__img{
    width: 70%;
    height: 50%;
  }

  .description{
    height: 50%;
  }

  .description h5{
    font-size: 1.2em;
    margin: 1em 0;
  }
  
  .description__card,.description__kg,.description__price{
    font-size: 0.8em;
    margin-top: 0.8em;
  }

  .description__kg{
    font-size: 1em;
  }

  .description__price{
    font-size: 1.2em;
  }

  .description__btn{
    width: 60%;
    margin: auto;
  }
}

/* seleccionar */
.seleccionar{
  text-align: center;
  margin: 2em auto;
}

.seleccionar__productos{
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  font-size: 0.8em;
  color: #555;
  width: 20em;
}

.seleccionar__productos:focus{
  outline: none;
  border-color: var(--color-principal);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.seleccionar__productos option:hover {
  background-color: var(--color-principal);
  color: #fff;
}

@media (min-width:1024px) {
  .seleccionar__productos{
    font-size: 0.9em;
  }
}

/* detalles producto*/

.titleDetails{
  margin: 2em;
  text-align: center;
  text-decoration: underline;
}

.containerDetails{
  max-width: 350px;
  margin: auto;
}

.containerDetails__img{
  width: 15em;
  height: 25em;
  margin: auto;
}

.containerDetails__img img{
  width: 100%;
  height: 100%;
}

.containerDetails__details{
  text-align: center;
}

.containerDetails__details h3{
  font-size: 1.5em;
}

.containerDetails__details--price{
  font-size: 1.2em;
  margin: 1em 0;
  color: var(--Soft-violet);
}

.containerDetails__details--cuot span{
  color: var(--Soft-violet);
}

.containerDetails__details--confirm{
  margin: 2em 0;
}

.containerDetails__details--confirm h4{
  font-weight: 700;
}

.containerDetails__details--confirm{
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  padding: 0 10px;
}

.containerDetails__details--btn{
  display: flex;
  border: 1px solid #333;
  width: 30%;
  height: 40%;
  align-items: center;
  justify-content: space-between;
}

.containerDetails__details--btn button{
  width: 30%;
  height: 100%;
  color: var(--color-secundario);
  background-color: var(--color-principal);
}

.containerDetails__details--confirm-btn{
  padding: 1em;
  letter-spacing: 1px;
  color: var(--color-secundario);
  background-color: var(--Soft-violet);
}

@media (min-width:768px) {

  .containerDetails{
    /* border: 1px solid red; */
    max-width: 750px;
    display: flex;
    align-items: center;
    
    
  }

  .containerDetails__img{
    /* border: 1px solid forestgreen; */
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .containerDetails__img img{
    width: 70%;
  }

  .containerDetails__details{
    /* border: 1px solid violet; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
  }
}

@media (min-width:1024px){
  .containerDetails{
    margin-bottom: 2em;
    max-width: 1000px;
    padding: 2em;
  }

  .containerDetails__img{
    width: 40%;
  }
}

@media (min-width:1440px){
  .containerDetails{

    max-width: 1200px;
    height: 70vh;
    /* padding-left: 2em; */
    
  }

  .containerDetails__details{
    
    flex-wrap: wrap;
    width: 50%;
    
  }

  .containerDetails__img{
    height: 100%;
    
  }

  .containerDetails__img img{
    /* width: 100%; */
    object-fit: contain;
  }

  .containerDetails__details--price{
    font-size: 1.8em;
  }

  .containerDetails__details--confirm{
    
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .containerDetails__details--btn{
    min-height: 40%;
    
  }

  .containerDetails__details--confirm-btn{
    width: 30%;
    /* border: 1px solid blue; */
  }
}



/* notebook o pantallas de escritorio chicas */
@media (min-width:1024px) {
  .cardTamañoPerro,.Tratamiento{
    width: 1024px;
    }

    .contenedor_tabla{
      width: 100vh;
      margin: auto;
    }

  .cardTamañoPerro__card,.cardTratamiento__card{
    width: 350px;
    }
    
    .cardTamañoPerro_img,.cardTratamiento_img{
    width: 200px;
    height: 300px;
  }

  .list-esp, .list-extra{
    width: 50%;
    margin: 2em auto;
    }
  
    .text0, .text1, .text2{
      text-align: center;
    }

}

/* INICIO */

  /* banner */
  .slider{
    width: 100%;
    height: 60vh;
    overflow: hidden;
    margin-top: 2em;
  }
  .slider ul{
    display: flex;
    width: 500%;
    animation-name: automatico;
    animation-duration: 20s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .slider li{
    width: 100%;
    list-style: none;
  }
  .slider img{
    width: 100%;
    height: 70vh;
  }
  @keyframes automatico{
    0%{margin-left: 0;}
    15%{margin-left: 0;}
  
    20%{margin-left: -100%;}
    35%{margin-left: -100%;}
  
    40%{margin-left: -200%;}
    55%{margin-left: -200%;}
  
    60%{margin-left: -300%;}
    75%{margin-left: -300%;}
    
    80%{margin-left: -400%;}
    95%{margin-left: -400%;}
  }
  
    /* carrousel ofertas y productos destacados */
  
  .inicio-ofertas-titulo, .inicio-productos-destacados-titulo, .inicio-marcas-titulo{
    font-size: 1.5em;
    text-align: center;
    margin:2em 0;
  }
  
  .inicio-ofertas, .inicio-productos-destacados, .inicio-marcas{
    margin: 2em 0;
  }
  
  .inicio-flex-ofertas, .inicio-flex-productos-destacados{ /* centrar las flechas */
    display: flex;
    align-items: center;
    position: relative;
    height: 80vh;
  }
  
  .inicio-flecha-izquierda, .inicio-flecha-derecha{ /* estilos a las flechas*/
    position:absolute;
    border:none;
    border-radius: 30%;
    background: rgba(0,0,0,0.3);
    width: 2em;
    height: 10%;
    top:cal(50% - 25%);
    color:#fff;
    font-size: 1em;
    cursor: pointer;
    z-index:20;
    transition: 0.2s ease all;
  }
  .inicio-flecha-izquierda{
    left:0;
  }
  .inicio-flecha-derecha{
    right:0;
  }
  .inicio-flecha-izquierda:hover, .inicio-flecha-derecha:hover{
    background:rgba(0,0,0,0.9);
  }
  
  .inicio-contenedor-carrusel-ofertas, .inicio-contenedor-carrusel-productos-destacados, .inicio-contenedor-carrusel-marcas{ 
    width: 100%;
    height: 100%;
    margin: auto;
    overflow:hidden;
  }
  .inicio-carrusel-ofertas, .inicio-carrusel-productos-destacados{
    display: flex;
    height: 100%;
    gap:1.5em;
    margin-left: 1em;
    margin-right: 3em;
  }
  
  .inicio-carrusel-ofertas .card, .inicio-carrusel-productos-destacados .card{
    min-width: 50%;
    display: flex;
    align-items:end;
    height: auto;
    flex-wrap: wrap;
  }
  
  .inicio-carrusel-ofertas .card .description, .inicio-carrusel-productos-destacados .card .description{
    height: 50%;
  }
  .inicio-carrusel-ofertas .card .card__image img, .inicio-carrusel-productos-destacados .card .card__image img{
    width: 75%;
    height: 85%;
  }
  @media (max-width:330px){
    .inicio-flex-ofertas, .inicio-flex-productos-destacados{
      height: 75vh;
    }
    .inicio-ofertas-titulo, .inicio-productos-destacados-titulo, .inicio-marcas-titulo{
      font-size: 1.5em;
    }
    .tienda{
      font-size: 84%;
    }
    .inicio-carrusel-ofertas .card .description, .inicio-carrusel-productos-destacados .card .description{
      height:60%;
    }
  }
  @media (min-width:426px){
    .inicio-flex-ofertas, .inicio-flex-productos-destacados{
      height: 80vh;
    }
    .inicio-ofertas-titulo, .inicio-productos-destacados-titulo, .inicio-marcas-titulo{
      font-size: 1.5em;
    }
    .inicio-carrusel-ofertas .card .description, .inicio-carrusel-productos-destacados .card .description{
      height:35%;
    }
    .inicio-carrusel-ofertas .card .card__image img, .inicio-carrusel-productos-destacados .card .card__image img{
      width: 45%;
      height: 75%;
    }
  }
  
  @media (min-width:768px){
    .inicio-flex-ofertas, .inicio-flex-productos-destacados{
      height: 90vh;
    }
    .inicio-ofertas-titulo, .inicio-productos-destacados-titulo, .inicio-marcas-titulo{
      font-size: 2.5em;
    }
    .inicio-carrusel-ofertas .card .description, .inicio-carrusel-productos-destacados .card .description{
      height:50%;
    }
  }
  @media (min-width:1024px){
    .inicio-flex-ofertas, .inicio-flex-productos-destacados{
      height: 100vh;
    }
    .inicio-ofertas-titulo, .inicio-productos-destacados-titulo, .inicio-marcas-titulo{
      font-size: 2.5em;
    }
    .inicio-carrusel-ofertas .card .description, .inicio-carrusel-productos-destacados .card .description{
      height:45%;
    }
    .inicio-carrusel-ofertas .card .card__image img, .inicio-carrusel-productos-destacados .card .card__image img{
      width: 40%;
      height: 70%;
    }
  }
  
  /* banner de marcas */
  .inicio-marcas-imagen{
    display: flex;
    max-width:50%;
    max-height: 10%;
  
    animation: mover 30s linear infinite;
    
  }
  .inicio-marcas-imagen img{
    width:100%;
    padding:1em;
  }
  @keyframes mover{
    0%{
      transform:translateX(0);
    }
    100%{
      transform: translateX(calc(-800%));
    }
  } 
  
  @media (min-width:768px){
  .inicio-carrusel-ofertas .card, .inicio-carrusel-productos-destacados .card{
    min-width: 33%;
    }
  @keyframes mover{
    0%{
      transform:translateX(0);
    }
    100%{
      transform: translateX(calc(-650%));
    }
  }
  }
  
  @media (min-width:1024px){
    @keyframes mover{
      0%{
        transform:translateX(0);
      }
      100%{
        transform: translateX(calc(-500%));
      }
    }
  }
  
  @media (min-width:1366px){
    @keyframes mover{
      0%{
        transform:translateX(0);
      }
      100%{
        transform: translateX(calc(-400%));
      }
    }
  }
  


/*Servicios*/
.servicios{
  background-color: white;
  padding: 10px;
  }


  .titulo_tratamiento, .servicios__titulo, .text3{
  font-style: oblique;
  text-decoration: underline;
  margin-top: 50px;
  text-align: center;
  margin:2em 0;
  font-size: 1.5em;
  }
  
  /*para las listas*/
.list-esp, .list-extra {
  display: flex;
  flex-direction: column;
    gap: 0.5em;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    
  }

  .list-extra li{
  margin-bottom: 0.8em;
  }

/*Tabla*/
table{
  background-color: var(--Soft-violet);
  text-align: center;

}
.table1 {
 margin-bottom: 1em;
}

th {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 13px; 
  font-weight: normal;
  padding: 8px;
  background:var(--Very-dark-blue);
  border-bottom: 1px solid var(--Soft-violet); 
  color: var(--Soft-violet); }

td {
  padding: 8px;
  background: var(--Very-dark-blue);
  color: white;
  border-top: 1px solid transparent;
  
}

tr:hover td { background:var(--Soft-violet); color: var(--Very-dark-blue); }  


/*p del final*/
.text1 {
  font-weight: 700;
  font-style: oblique;
  text-align: start;  
}
.text1{
  margin-bottom: 30px;
  }

  /* caja padre */
  .cardTamañoPerro,.Tratamiento{
    width: 300px;
    padding: 10px;
    border-radius:10px ;
    margin:2em auto;
  }

  /* caja para cada uno de los hijos */
  .cardTamañoPerro__card, .cardTratamiento__card{
    background-color: var(--Very-dark-blue);
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    border-radius: 10px;
    align-items: center;
    height: 450px;
    }
  
    
  /* caja de la imagen */
  .cardTamañoPerro_img,.cardTratamiento_img{
    width: 200px;
    height: 300px;
    margin:2em auto;
    padding: auto;
  }
  
  /* imagen */
  .cardTamañoPerro img, .cardTratamiento__card img{
    width: 100%;
    height: 100%;
  }

  /* descripcion */
  .cardTamañoPerro_description,.cardTratamiento_description{
    color: var(--color-secundario);
    background-color: var(--Soft-violet);
    padding: 10px;
    border-radius: 10px;

  }
  
  /* MEDIA */
  /* hasta esta resolucion: resolucion */
@media (max-width:768px) {
  body{
    background-color: white;
  }

  /* oculta la tabla 3 hasta los 768px */
  .table3{
    display: none;
  }
}

/* tablet  */
/* desde esta resolucion: resolucion */
@media (min-width:768px) {
  body{
    background-color: white;
  }

  .table1,.table2{
    display: none;
  }

  /* aparece la tabla 3 a partir de los 768px con esta propiedad inline o block */
  .table3{
    display: inline-block;
  }
  
  .contenedor_tabla{
    display: flex;
    justify-content: center;
    }

  .cardTamañoPerro,.Tratamiento{
    width: 728px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }

  .cardTamañoPerro__card,.cardTratamiento__card{
  width: 300px;
  }
}


/* notebook o pantallas de escritorio chicas */
@media (min-width:1024px) {
  .cardTamañoPerro,.Tratamiento{
    width: 1024px;
    }

    .contenedor_tabla{
      width: 100vh;
      margin: auto;
    }

  .cardTamañoPerro__card,.cardTratamiento__card{
    width: 350px;
    }
    
    .cardTamañoPerro_img,.cardTratamiento_img{
    width: 200px;
    height: 300px;
  }

  .list-esp, .list-extra{
    width: 50%;
    margin: 2em auto;
    }
  
    .text0, .text1, .text2{
      text-align: center;
    }

}

/* Pantalla Escritorio */
@media (min-width:1440px) {
  .cardTamañoPerro,.Tratamiento{
    width: 1440px;
    display: flex;
    justify-content: space-evenly;
  }

  .cardTamañoPerro__card,.cardTratamiento__card{
    width: 300px;
    height: 400px;
    }
    
    .cardTamañoPerro_img,.cardTratamiento_img{
    width: 180px;
    height: 250px;
  }
  
  }
/* footer */
footer{
  background-color: var(--color-principal);
  margin-top: auto;
  text-align: center;
}

.medios-pagos{
  margin-top: 1em;
}


.medios-pagos__title,.redes__titulo{
  color: var(--Soft-violet);
  font-size: 1em;
  letter-spacing: 0.2em;
} 

.medios-pagos__card{
  width: 90%;
  margin:1em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

.medios-pagos img{
  width: 2.5em;
}

.redes{
  margin-top: 3em;
}

.redes__icon{
  font-size: 2em;
  margin-top: 0.5em;
  
}

.redes__icon a{
  color: var(--color-secundario);
  margin: 0 .2em;
}



@media (min-width:1024px) {

  footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .medios-pagos__card{
    width: 50%;
  }

  .medios-pagos img{
    width: 3em;
  }

  .redes{
    padding-right: 3em;
  }

}
